{%  extends 'base.html' %}

{% block content %}

    <div>
        <div style = "text-align: center; max-width: 500px; margin: 4rem auto;">

            {% if target_user.profile %}
            <h2 style="font-family: 'NanumSquareB'">
                <img src = "{{ target_user.profile.image.url }}" class = "profile_image m-4" alt="profile image">
                {{ target_user.profile.nickname }}
                {% if target_user == user %}
                <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                </a>
                {% endif %}
            </h2>
            {% else %}
                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    <h2 style="font-family: 'NanumSquareB'">
                        Create profile
                    </h2>
                </a>
                {% else %}
                <h2>
                    닉네임 미설정
                </h2>
                {% endif %}
            {% endif %}



            {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                <p>
                    Change Info
                </p>
            </a>
            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                <p>
                    Quit
                </p>
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}