.pragmatic_logo {
    font-family: 'Lobster', cursive;
}

.pragmatic_footer_button {
    font-size: .9rem;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic_header {
    text-align: center;
    margin: 2rem 0;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}

.profile_image {
    width: 12rem;
    height : 12rem;
    border-radius : 20rem;
    object-fit: : cover;
}